In [6]:
import pandas as pd

df = pd.read_csv("data/sample.csv", index_col="Unnamed: 0")
df = df.iloc[:, 0:4]
df.head()

,Time,CMSA-GAWW-22 Kloveniersburgwal,CMSA-GAWW-23 Bloedstraat,CMSA-GAWW-14 Oudezijds Voorburgwal t.h.v. 91
0,04/10/2021 00:00,57,73,77
1,04/10/2021 00:15,57,42,66
2,04/10/2021 00:30,43,42,73
3,04/10/2021 00:45,33,27,71
4,04/10/2021 01:00,38,31,72