In [2]:
import pandas as pd
from datetime import datetime

In [5]:
knmi = pd.read_csv("../data/knmi/knmi_for_baseline.csv", index_col='Unnamed: 0')

In [9]:
cmsa_baseline = pd.read_csv("../data/cmsa_baseline.csv", index_col="Unnamed: 0")
cmsa_baseline.tail()

,datetime,GAWW-11,GAWW-12,GAWW-14,vacation_dummy,holiday_dummy,stringency_index
46843,2022-01-01 22:45:00,48.0,22.0,21.0,1,1,63.89
46844,2022-01-01 23:00:00,28.0,16.0,21.0,1,1,63.89
46845,2022-01-01 23:15:00,27.0,26.0,21.0,1,1,63.89
46846,2022-01-01 23:30:00,29.0,19.0,15.0,1,1,63.89
46847,2022-01-01 23:45:00,25.0,14.0,19.0,1,1,63.89

In [10]:
knmi.shape

(47805, 10)

In [15]:
knmi.dtypes

datetime              object
global_radiation       int64
pressure             float64
precipitation_h      float64
relative_humidity      int64
temperature          float64
cloud_cover            int64
sight                  int64
wind_direction         int64
wind_speed           float64
dtype: object

In [12]:
start_date = '2020-09-01'
end_date = '2022-02-01'

In [16]:
knmi = knmi[(knmi.datetime >= start_date) & (knmi.datetime < end_date)]
knmi.shape

(46752, 10)

In [17]:
knmi.tail()

,datetime,global_radiation,pressure,precipitation_h,relative_humidity,temperature,cloud_cover,sight,wind_direction,wind_speed
46843,2021-12-31 22:45:00,0,102.13,0.0,88,1.16,8,59,230,0.7
46844,2021-12-31 23:00:00,0,102.18,0.0,93,1.00,8,31,210,0.6
46845,2021-12-31 23:15:00,0,102.18,0.0,93,1.00,8,31,210,0.6
46846,2021-12-31 23:30:00,0,102.18,0.0,93,1.00,8,31,210,0.6
46847,2021-12-31 23:45:00,0,102.18,0.0,93,1.00,8,31,210,0.6